<nav class="navbar">
  <a href="/index.html" class="logo">SGAT</a>
  <ul class="nav-links">
    <li><a href="/views/login.html">Iniciar Sesión</a></li>
    <li><a href="/views/tramite-vehiculo.html">Trámite Vehículo</a></li>
    <li><a href="/views/autorizacion-menor.html">Autorización Menor</a></li>
    <li><a href="/views/declaracion-productos.html">Declaración Productos</a></li>
    <li><a href="/views/consulta-estado.html">Consulta Estado</a></li>
    <li><a href="/views/reportes.html">Reportes</a></li>
    <li><a href="/views/acceso-restringido.html">🚫</a></li>
    <li><a href="/presentacion.html">📽 Presentación</a></li>

  </ul>
</nav>
